.navbarmain{
	/*border: 1px solid red;*/
	background-color: #ffffff;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: center;
	align-items: center;
	/*text-align: right;
	padding-right: 100px;*/
	/*height: 100px;*/
}

.ul_navbar{
	list-style: none;
	/*padding-right: 0;
	display: inline-block;*/
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-content: center;
	align-items: center;
}

.ul_navbar_flag{
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-content: center;
	align-items: center;
	padding-inline-start: 0px;
	padding-inline-end: 40px;
}

.li_navbar_on{
	/*border: 1px solid red;*/
	background-color: #ccddff;
	padding: 6px 10px;
	margin: auto 20px;
	/*text-align: center;
	padding: 6px 10px;
	display: inline;
	margin: auto 20px;
	transition: border-radius 2s;
	border-radius: 0px;*/
}

.li_navbar_on:hover{
	text-decoration:underline;
	/*color: #fc6d6c;*/
	cursor:pointer;
	font-weight:bold;
	background-color: #efefff;
	border-radius: 20px;
}

.li_navbar_off{
	/*border: 1px solid red;*/
	background-color: #ffffff;
	padding: 6px 10px;
	margin: auto 20px;
	/*text-align: center;
	padding: 6px 10px;
	display: inline;
	margin: auto 20px;
	transition: border-radius 2s;
	border-radius: 0px;*/
}

.li_navbar_off:hover{
	text-decoration:underline;
	/*color: #fc6d6c;*/
	cursor:pointer;
	font-weight:bold;
	background-color: #efefff;
	border-radius: 20px;
}

.li_navbar_flag_on{
	/*border: 1px solid red;*/
	background-color: #ccddff;
	padding: 6px 10px;
	margin: auto 20px;
	/*text-align: center;
	padding: 6px 10px;
	display: inline;
	margin: auto 20px;
	transition: border-radius 2s;
	border-radius: 0px;*/
}

.li_navbar_flag_on:hover{
	text-decoration:underline;
	/*color: #fc6d6c;*/
	cursor:pointer;
	font-weight:bold;
	background-color: #efefff;
	border-radius: 20px;
}

.li_navbar_flag_off{
	/*border: 1px solid red;*/
	background-color: #ffffff;
	padding: 6px 10px;
	margin: auto 20px;
	/*text-align: center;
	padding: 6px 10px;
	display: inline;
	margin: auto 20px;
	transition: border-radius 2s;
	border-radius: 0px;*/
}

.li_navbar_flag_off:hover{
	text-decoration:underline;
	/*color: #fc6d6c;*/
	cursor:pointer;
	font-weight:bold;
	background-color: #efefff;
	border-radius: 20px;
}

.a_navbar{
	text-decoration: none;
	color: #000000;
	font-family: 'Roboto', sans-serif;
	/*padding:10px;*/
	/*background-color: #efefdf;*/
}

.a_navbar:hover{
	text-decoration:underline;
	/*color: #fc6d6c;*/
	cursor:pointer;
	font-weight:bold;
	/*background-color: #efefff;*/
}

@media (max-width: 480px) {
	.navbarmain{
	/*border: 1px solid red;*/
	background-color: #ffffff;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: center;
	align-items: center;
	}
	
	.ul_navbar{
	list-style: none;
	/*padding-right: 0;
	display: inline-block;*/
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-content: center;
	align-items: center;
	}

	.ul_navbar_flag{
	list-style: none;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-content: center;
	align-items: center;
	}
}